 body { padding-top: 60px; }
 footer { margin-top: 100px; }
 table, td, th { vertical-align: middle; border: none; }
 th { border-bottom: 1px solid #DDD; }
 
 .navbar {
    min-height: 38px;
    background-color: #e4e2e2;
  }

.navbar a.brand { font-size: 18px; }
.navbar a.brand:hover {
 color: rgb(63, 16, 192);
 background-color: transparent;
 text-decoration: none;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e4e4e4;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  }